* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}



/*HEADER*/

header {
    min-width: 250px;
    height: 100vh;
    background-color: black;
    float: left;
}

.header-container {
    height: 100%;
    margin-top: 10px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-large {
    width: 120px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.container-icon-text {
    margin-bottom: 10px;
    padding-left: 20px;
}

.header-icon {
    width: 25px;
    vertical-align: bottom;
}

header a {
    text-decoration: none;
    vertical-align: middle;
}

.selected a {
    color: white;
}

.not-selected a {
    color: grey;
}

.title-playlist {
    font-weight: 800;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.fa-plus-square {
    font-size: 40px;
    vertical-align: middle;
}

.create-playlist {
    margin-left: 5px;
    font-size: 15px;
}

.playlist-list {
    list-style: none;
    padding-left: 20px;
}

.playlist-list li a {
    color: grey;
    text-decoration: none;
    line-height: 2.8em;
}

.download-icon {
    width: 15px;
    vertical-align: middle;
}

.bottom-header {
    margin-bottom: 60px;
}
    
hr {
    background-color: white;
    font-size: 11px;
    margin-left: 20px;
}

.profile-icon {
    width: 20px;
    background-color: grey;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 5px;
}

.container-profile {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
}

.home {
    border-left: 4px solid rgb(7,238, 7);
}

/*Header hover*/

header a:hover {
    color: white;
}









/*MAIN*/

main {
    height: 100vh;
    background-color: rgb(28, 35, 75);
    overflow: auto;
    display: flex;
}

main span {
    margin-top: 65px;
    margin-bottom: 65px;
}

main div {
    width: calc(100% - 250px);
    height: 4rem;
    background-color: rgba(24, 21, 21, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    
}
div button {
    position: absolute;
    top: 0;
    right: 0;
}


























/*FOOTER*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 4rem;
    background-color: rgb(49, 49, 49);
    
}