* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}



/*HEADER*/
header::after {
    content: '';
    display: table;
    clear: both;
}

header {
    min-width: 210px;
    height: 100vh;
    background-color: black;
    float: left;
}

.header-container {
    height: 89%;
    padding-top: 10px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-header {
    display: flex;
    flex-direction: column;
    height: 85%;
}

.logo-large {
    width: 120px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.logo-small {
    width: 25px;
    display: none;
}

.container-icon-text {
    margin-bottom: 10px;
    padding-left: 20px;
}

.header-icon {
    width: 25px;
    vertical-align: bottom;
}

.home {
    border-left: 2px solid rgb(3, 248, 3);
}

header a {
    text-decoration: none;
    vertical-align: middle;
}

.selected a {
    color: white;
}

.not-selected a {
    color: grey;
}

.title-playlist {
    font-weight: 800;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.fa-plus-square {
    font-size: 40px;
    vertical-align: middle;
}

.create-playlist {
    margin-left: 5px;
    font-size: 14px;
}

.playlist-list {
    list-style: none;
    padding-left: 20px;
    overflow: auto;
}

.playlist-list li a {
    color: grey;
    text-decoration: none;
    line-height: 2.4em;
}

.bottom-header {
    display: flex;
    flex-direction: column;
}

.download-icon {
    width: 15px;
    vertical-align: middle;
}
    
header hr {
    border: none;
    height: 1px;
    background-color: white;
    margin-left: 20px;
}

.profile-icon {
    width: 20px;
    background-color: grey;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 5px;
}

.container-profile {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
}


/*Header hover*/

header a:hover {
    color: white;
}



/*MAIN*/

/*Fixed top bar*/

.container-top-bar {
    width: calc(100% - 210px);
    height: 6rem;
    background-color: rgba(8,11,18,0.8);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
}

.link-upgrade {
    position: absolute;
    top: 15px;
    right: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: .9em 2em;
    border: 1px solid white;
    border-radius: 20px;
    transition: all 0.2s;
}

.link-upgrade:hover {
    transform: scale(1.1);
}


/*CORPO PRINCIPALE DEL MAIN*/

main {
    height: 100vh;
    background-color: rgba(20,25,34,255);
    overflow: auto;
}

/*Main list*/

.container-main {
    margin-top: 7rem;
    margin-left: 20px;
    margin-right: 25px;
}

.container-main-list {
    display: flex;
    justify-content: center;
}

.main-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.main-list a {
    text-decoration: none;
    color: grey;
}

.main-list a:hover {
    color: white;
}

.main-list li hr {
    height: 2px;
    border: none;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(4, 255, 4);
}

/*Recently Played*/

h1 {
    font-size: 21px;
    margin-top: 30px;
}

.container-films {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.recently-played {
    width: 15%;
    line-height: 1.8em;
    position: relative;
}

.recently-played img {
    width: 100%;
}

h3 {
    text-align: center;
}

.subtitle {
    color: grey;
    text-align: center;
}

/*Recently played Hover*/

main .fa-play-circle {
    position: absolute;
    font-size: 60px;
    top: 55px;
    left: 60px;
    color: transparent;
}

.recently-played:hover img {
    filter: brightness(0.4);
}

.recently-played:hover .fa-play-circle {
    color: white;
}



/*Creato per Jhon Doe*/

.long-subtitle {
    color: grey;
    margin-top: 0.5em;
}

.container-create-for {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.accurate-tips {
    width: 15%;
    line-height: 1.8em;
    margin-right: 25px;
}

.accurate-tips img {
    width: 100%;
}


/*Artisti più popolari*/

.popular-artist {
    margin-bottom: 100px;
    width: 15%;
    line-height: 1.8em;
    margin-right: 25px;
}

.container-popular-artists {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.popular-artist img {
    width: 100%;
    border-radius: 50%;
}




/*FOOTER*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 6rem;
    width: 100%;
    background-color: rgba(40,40,40,255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2em;
}


/*Funzioni di sinistra*/

.left-functions {
    display: flex;
    align-items: center;
}

.left-functions img {
    width: 40px;
    vertical-align: middle;
}

.container-title-subtitle {
    font-size: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.subtitle-name a {
    color: grey;
    text-decoration: none;
}

.subtitle-name a:hover {
    color: white;
    text-decoration: underline;
}

.heart-folder {
    margin-left: 35px;
}

.heart-folder a {
    color: grey;
}

.fa-heart {
    margin-right: 10px;
}

footer a:hover {
    color: white;
}



/*Funzioni centrali*/

/*Top*/
.center-functions a {
    color: white;
}

.center-functions {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.center-functions i {
    font-size: 15px;
    margin-left: 20px;
    vertical-align: middle;
}

.top-center-functions {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .fa-play-circle {
    font-size: 28px;
    transition: all 0.2s;
}

footer .fa-play-circle:hover {
    font-size: 30px;
}

/*Bottom*/
.bottom-center-functions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.time-bar {
    width: 400px;
    height: 4px;
    background-color: grey;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.current-time-bar {
    width: 100px;
    height: 4px;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
}

.time-circle {
    width: 18px;
    height: 18px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: 95px;
}

.bottom-center-functions:hover .current-time-bar {
    background-color: rgb(25, 233, 25);
}

.bottom-center-functions:hover .time-circle {
    background-color: white;
}



/*Funzioni di destra*/

.right-functions {
    display: flex;
    justify-content: center;
}

.right-functions a {
    color: white;
}

.right-functions i {
    margin-right: 15px;
    vertical-align: top;
}

.volume-bar {
    width: 100px;
    height: 4px;
    background-color: grey;
    border-radius: 10px;
    vertical-align: bottom;
    margin-top: 5px;
    position: relative;
}

.current-volume-bar {
    width: 40px;
    height: 4px;
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
}

.volume-circle {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: 30px;
}

.volume-bar:hover .current-volume-bar {
    background-color: rgb(8, 245, 8);
}

.volume-bar:hover .volume-circle {
    background-color: white;
}




/*MEDIA QUERY*/

/* Media Query schermo M (992px) */

@media all and (max-width:992px) and (min-width:768px) {

    .recently-played {
        width: 20%;
        margin-right: 15px;
        margin-top: 15px;
    }

    .container-films {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .accurate-tips {
        width: 20%;
    }

    .container-create-for {
        width: 100%;
        justify-content: flex-start;
    }

    .popular-artist {
        width: 20%;
    }

    .container-popular-artists {
        width: 100%;
        justify-content: flex-start;
    }
    
    .main-list {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-list li {
        margin-right: 30px;
    }

}



/* Media Query schermo S (768px) */

@media all and (max-width: 768px) and (min-width: 576px) {

    .recently-played {
        width: 45%;
        margin-right: 15px;
        margin-top: 15px;
    }

    .container-films {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .accurate-tips {
        width: 45%;
    }

    .container-create-for {
        width: 100%;
        justify-content: flex-start;
    }

    .popular-artist {
        width: 45%;
    }

    .container-popular-artists {
        width: 100%;
        justify-content: flex-start;
    }

    .main-list {
        width: 100%;
        font-size: 11px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-list li {
        margin-right: 30px;
    }

}


/* Media Query schermo XS (576px) */

@media all and (max-width: 576px) {

    /*MODIFICHE HEADER*/

    header {
        min-width: 35px;
        text-align: center;
    }

    .header-container {
        margin-right: 3px;
        margin-left: 3px;
        padding-top: 3px;
        height: 86%;
        
    }
    .logo-small {
        display: block;
        margin-bottom: 7px;
        margin-left: 2px;
    }

    .logo-large {
        display: none;
    }

    .container-icon-text span {
        display: none;
    }

    .title-playlist , .create-playlist , .playlist-list {
        display: none;
    }

    .container-icon-text i {
        display: none;
    }

    .container-profile span {
        display: none;
    }

    header hr {
        display: none;
    }

    .home {
        border: 0;
    }

    .container-icon-text {
        padding-left: 0;
        margin-bottom: 7px;
    }

    .container-profile {
        text-align: center;
        padding-left: 0;
    }

    .profile-icon {
        margin-right: 0;
    }

    .header-icon {
        width: 20px;
    }

    .download-icon {
        margin-right: 2px;
    }

    /*MODIFICHE MAIN*/

    .container-top-bar {
        width: calc(100% - 35px);
    }

    .recently-played {
        width: 45%;
        margin-right: 15px;
        margin-top: 15px;
    }

    .container-films {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .accurate-tips {
        width: 45%;
    }

    .container-create-for {
        width: 100%;
        justify-content: flex-start;
    }

    .popular-artist {
        width: 45%;
    }

    .container-popular-artists {
        width: 100%;
        justify-content: flex-start;
    }

    .main-list {
        width: 100%;
        font-size: 11px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-list li {
        margin-right: 30px;
    }

    footer {
        min-width: 558px;
    }
}